html{
    width: 100%;
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.container {
    margin: -15px;
}

.container .title{
    height: 130px;
    width: 100%;
    -webkit-app-region: drag;
    background-image: url(../images/08.jpg);
}

/** close window style**/
.login-title{
    height: 40px;
    z-index: 100;
    position: absolute;
    padding: 0 0 0 10px;
    top: 0;
    right: -2px;
    display: block;
}
.login-title a{
    display: inline-block !important;
    vertical-align: middle;
    cursor: pointer;
    transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    width: 34px;
    height: 25px;
    margin-left: -4px;
    -webkit-app-region:no-drag;
}
.ico{
    background-image: url(../images/max.png);

}
.login-title .blue{
    width: 40px;
    height: 30px;
    background-position: -106px 0;
}
.login-title .blue:hover{
    background-color: #2789ba;
}
.login-title .red{
    width: 40px;
    height: 30px;
    background-position: -68px 0;
}
.login-title .red:hover{
    background-color: #d44027;
}

.container .title img{
    width: 70px;
    height: 70px;
    border-radius: 6px;
    overflow: hidden;
    position: absolute;
    -webkit-app-region: no-drag;
    left: 10px;
    top: 40px;
}

.title p{
    padding-left: 100px;
    color: #FFF;
    position: absolute;
    -webkit-app-region: no-drag;
}
.title p.name{
    font-size: 20px;
    margin-top: 55px;
}
.title p.signature{
    font-size: 12px;
    color: #f2f2f2;
    margin-top: 90px;
}

.container .tab{
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #f2f2f2;
}
.container .tab li{
    width: 24%;
    height: 40px;
    font-size: 14px;
    line-height: 40px;
    float: left;
    cursor: pointer;
    text-align: center;
}

footer{
    width: 100%;
    padding-right: 160px;
    height: 200px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 5;
    background-color: #FFF;
}
.type {
    width: 100%;
    height: 30px;
    padding-left: 20px;
    padding-top: 5px;
    border-top: 1px solid #c4c4c4;
}

.endit{
    padding: 10px 20px 10px 10px;
    position: relative;
}
.endit textarea{
    width: 100%;
    max-width: 100%;
    padding: 2px 5px;
    line-height: 22px;
    height: 70px;
    max-height: 70px;
}

.content .cont-left{
    width: 100%;
    height: 100%;
}
.content .message{
    width: 100%;
    height: 100%;
    padding: 10px 10px 100px 10px;
    background-color: #f6f6f6;
    overflow-y: scroll;
}

.bts {
    float: right;
    padding-right: 10px;
}