/* Fix user-agent */

* {
    box-sizing: border-box;
}

html {
    font-weight: 300;
    -webkit-font-smoothing: antialiased;   /*将字体变得清晰*/
}

html, input {
    font-family:
    "HelveticaNeue-Light",
    "Helvetica Neue Light",
    "Helvetica Neue",
    Helvetica,
    Arial,
    "Lucida Grande",
    sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    word-wrap: break-word;  /*自动换行*/
}

input:focus {
    outline: none;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

/* Pages */

.pages {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

.page {
    height: 100%;
    position: absolute;
    width: 100%;
}

/* Login Page */

.login.page {
    background-color: #000;
}

.login.page .form {
    height: 100px;
    margin-top: -100px;
    position: absolute;

    text-align: center;
    top: 50%;
    width: 100%;
}

.login.page .form .usernameInput {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    outline: none;
    padding-bottom: 15px;
    text-align: center;
    width: 400px;
}

.login.page .title {
    font-size: 200%;
}

.login.page .usernameInput {
    font-size: 200%;
    letter-spacing: 3px;       /*字母间距*/
}

.login.page .title, .login.page .usernameInput {
    color: #fff;
    font-weight: 100;
}

/* Chat page */

.chat.page {
    display: none;
}

/* Font */

.messages {
    font-size: 150%;
}

.inputMessage {
    font-size: 100%;
}

.log {
    color: gray;
    font-size: 70%;
    margin: 5px;
    text-align: center;
}

/* Messages */

.chatArea {
    height: 80%;
    padding-bottom: 60px;
}

.messages {
    height: 100%;
    margin: 0;
    overflow-y: scroll;
    padding: 10px 20px 10px 20px;
}

.message.typing .messageBody {
    color: gray;
}

.username {
    margin-left: 100px;
    font-weight: 700;
    overflow: hidden;
    padding-right: 15px;
    text-align: right;
}

/* Input */

.inputMessage {
    border: 10px solid #000;
    bottom: 0;
    height: 60px;
    left: 0;
    outline: none;
    padding-left: 10px;
    position: absolute;
    right: 0;
    width: 100%;
}

#mechat {
    width: 300px;
    margin-top: 100px;
    margin-left: 500px;
    border: 1px solid rgb(71, 193, 168);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.header {
    background: rgb(71,193,168);
    color: #fff;
}

.fr {
    float: right;
}

.h60 {
    height: 60px;
}

.fl {
    float: left;
}

.operator {
    padding: 10px 0;
    margin-left: 20px;
    margin-right: 90px;
}

.head-md {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    vertical-align: middle;
}

.ml50 {
    margin-left: 50px;
}

.white {
    color: #ffffff;
}

.h20 {
    height: 20px;
}

.oper-name {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    line-height: 24px;
    z-index: 101;
    height: 20px;
    width: 100%;
    overflow: hidden;
}

.f12 {
    font-size: 12px;
}

.lh1 {
    line-height: 1;
}

.login-name {
    margin: 0 0 5px 0;
    line-height: 1;
}

.w90 {
    width: 90px;
}

.oper-btn {
    display: inline-block;
    padding: 12px 5px;
    font-size: 13px;
    color: #ffffff;
    line-height: 2.8;
}

.oper-btn:hover {
    color: #e2e2e2;
    cursor: pointer;
}

.tr {
    text-align: right;
}

.wrap {
    height: auto;
    width: 100%;
    top: 60px;
    bottom: 80px;
    _position: relative;
    _top: -10px;
    _height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translate3d(0, 0, 0);
}

.h280 {
    height: 280px;
}

.flow {
    color: #333;
}

.footer {
    bottom: 0;
    background: #fff;
    box-shadow: 0 -1px 5px rgba(0,0,0,0.05);
    z-index: 120;
}

.h80 {
    height: 80px;
}

.footer-con {
    border-top: 1px solid #d9d9d9;
}

.text-layout {
    margin: 0 10px;
    height: 40px;
}

.text {
    width: 100%;
    height: 40px;
    margin: 5px 0 0;
    padding: 0;
    border: 0;
    color: #333;
    resize: none;
    font-size: 14px;
}

.text:hover {
    outline: none;
}

.text:focus {
    outline: none;
}

.ft-btns {
    position: relative;
    height: 40px;
    padding: 0 10px;
    overflow: hidden;
}

.ft-btns a {
    display: inline-block;
    margin-top: 10px;
    cursor: pointer;
    overflow: hidden;
}

.ml5 {
    margin-left: 5px;
}

.send-btn {
    position: absolute;
    right: 10px;
    bottom: 5px;
    cursor: pointer;
    border: none;
    width: 64px;
    height: 24px;
    border-radius: 4px;
    font-size: 14px;
    padding: 0;
    background: #1abc9c;
    color: #ffffff;
}

.send-btn:focus {
    color: #fff;
}

.send-btn:active {
    color: #fff;
}

.send-btn:hover {
    color: #ffffff;
    background: rgb(71, 193, 168);
}

.btn:hover {
    outline: none;
}

.btn:focus {
    outline: none;
}

.btn:active {
    outline: none;
}

.flow li {
    margin-bottom: 15px;
}

.flow p {
    margin-bottom: 5px;
}

.flow ul {
    padding: 15px;
}

.grey6 {
    color: #666;
}

.flow .msg {
    margin-top: 5px;
    width: 80%;
    word-wrap: break-word;
    word-break: break-all;
}

.flow .ser-msg {
    margin-left: 10px;
}

.flow .ser-msg .msg-con {
    border-top-left-radius: 0;
}

.flow .msg-con {
    position: relative;
    padding: 8px 10px;
    display: inline-block;
    border-radius: 3px;
    font-size: 14px;
}

.bgSer {
    background: #d1f0ed;
}

.arrow-tl {
    top: 0;
    left: -10px;
    border-left: 10px solid transparent;
    border-top: 10px solid #d1f0ed;
}

.arrow-tl, .arrow-br {
    position: absolute;
    background: #fff;
    height: 0;
    width: 0;
    font-size: 0;
}

.flow .cli-msg {
    margin-right: 10px;
}

.flow .cli-msg .msg-con {
    border-bottom-right-radius: 0;
}

.bgCli {
    background: #f1effc;
}

.arrow-br {
    bottom: 0;
    right: -10px;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #f1effc;
}

/* 留言页面 */
.pull-left {
    float: left;
}

.header .title {
    margin-top: 16px;
    font-size: 16px;
    margin-left: 10px;
}

.h460 {
    height: 460px;
}

.ticket-form {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #f2f3f5;
}

.step-title {
    margin: 16px;
    font-size: 12px;
    color: #666;
    word-break: break-all;
    line-height: 1.8;
}

.form-group .group-title {
    margin: 16px 0 6px 16px;
    color: #444;
    font-size: 12px;
}

.form-group .group-content {
    background-color: #fff;
    box-shadow: 0 1px 0 0 rgba(0,0,0,.04),0 -1px 0 0 rgba(0,0,0,.04);
}

.form-group .group-content input[type=text] {
    width: 100%;
    height: auto;
    padding: 12px 16px;
    border: none;
}

.form-group .group-title>span {
    margin-left: 4px;
    color: #ff5c5e;
}

.form-group .group-content textarea {
    display: block;
    width: 100%;
    height: 90px;
    padding: 12px 16px;
    overflow-x: hidden;
    overflow-y: auto;
    resize: none;
    outline: 0;
    background-color: #fff;
    border: none;
    word-break: break-all;
    font-size: 12px;
    -webkit-appearance: none;
}

.btn-group {
    width: 100%;
    margin: 24px 0;
    padding: 0 16px;
}

.btn-group #ticketSubmit {
    display: block;
    width: 100%;
    height: 44px;
    border-radius: 5px;
    line-height: 44px;
    text-align: center;
    font-size: 15px;
    background-color: rgb(71,193,168);
    color: #fff;
}