<div id="chatArea" class="box chat">
    <div class="box_hd">
        <div id="chatRoomMembersWrap"></div>
        <div class="title_wrap">
            <div class="title poi">
                <a class="title_name">生活不止眼前的苟且</a>
                <span class="title_count">(3)</span>
                <i class="web_wechat_down_icon"></i>
            </div>
        </div>
    </div>

    <div
        nice-bar nice-bar-delay="1000" nice-bar-theme="dark"
        class="box_bd chat_bd"
        data-cm='{"type":"clean", "username":"{{currentUser}}"}'>

        <div mm-repeat="message in chatContent" data-height-calc="heightCalc" data-buffer-height="300" data-pre-calc="true">
            <div class="clearfix" message-directive></div>
        </div>

        <div id="prerender" style="visibility: hidden; position: absolute; width: 100%; top: 333px; height: 0; padding: 0 19px; box-sizing: border-box; margin-left: -19px; overflow: hidden"></div>
        <div ng-if="chatContent.length < 1" class="message_empty">
            <i class="web_wechat_nomes_icon" ng-hide="currentContact.getDisplayName()"></i>
            <p ng-show="currentContact.getDisplayName()">暂时没有新的消息</p>
            <p ng-hide="currentContact.getDisplayName()">未选择聊天</p>
        </div>
    </div>

    <div class="box_ft" ng-controller="chatSenderController">
        <div class="toolbar" id="toolbar">
            <a class="web_wechat_face" ng-click="showEmojiPanel($event)" href="javascript:;" title="表情"></a>
            <a mm-action-track track-type="['click']" track-opt="{'target': '截图'}" class="web_wechat_screencut" ng-hide="noflash" ng-click="screenShot()" href="javascript:;" title="截屏"></a>
            <a mm-action-track track-type="['click']" track-opt="{'traget': '发文件'}" class="web_wechat_pic js_fileupload" ng-hide="noflash" href="javascript:;" title="图片和文件"></a>
        </div>
        <div class="content" mm-action-track track-type="['click','keydown']" track-opt="{target:'发送框',keys:['enter','backspace','blankspace']}">
            <pre id="editArea" contenteditable-directive mm-paste class="flex edit_area" contenteditable="true" ng-blur="editAreaBlur($event)" ng-model="editAreaCtn" ng-click="editAreaClick($event)"
                 ng-keyup="editAreaKeyup($event)" ng-keydown="editAreaKeydown($event)">

            </pre>
            <span class="caret_pos_helper" id="caretPosHelper"></span>
        </div>
        <div class="action">
            <span class="desc">按下Ctrl+Enter换行</span>
            <span ng-if="isMacOS" class="desc">按下Cmd+Enter换行</span>
            <a class="btn btn_send" href="javascript:;" ng-click="sendTextMessage()">发送</a>
        </div>
    </div>
</div>