<div class="chat_list" id="J_NavChatScrollBody">
  <!--  <p class="ico_loading" ng-hide="chatList.length > 0"><img src="https://res.wx.qq.com/zh_CN/htmledition/v2/images/icon/ico_loading28a2f7.gif" alt=""/>正在获取最近的聊天...</p>-->

    <div>
        <div class="chat_item">

            <div class="ext">
     <!--           <p class="attr">{{chatContact.MMDigestTime}}</p>
                <p ng-if="chatContact.isMuted()" class="attr" ng-class="{'no_time': !chatContact.MMDigestTime}">
                    <i class="web_wechat_no-remind" ng-class="{'web_wechat_no-reind_hl': (chatContact.UserName == currentUserName)}"></i>
                </p> -->
            </div>

            <div class="avatar">
                <img class="img" src="../images/avatar.png"  alt=""/>

         <!--       <i class="icon web_wechat_reddot" ng-if="chatContact.NoticeCount && chatContact.isMuted()"></i>

                <i class="icon web_wechat_reddot_middle" ng-class="{web_wechat_reddot_middle: chatContact.NoticeCount < 99, web_wechat_reddot_bbig: chatContact.NoticeCount >=99}" ng-if="chatContact.NoticeCount && !chatContact.isMuted()">
                    {{chatContact.NoticeCount>99?'99+':chatContact.NoticeCount;}}
                </i> -->
            </div>

            <div class="info">
                <h3 class="nickname">
                    <span class="nickname_text">那一夜一十八</span>
                </h3>

         <!--       <p class="msg" ng-if="chatContact.MMDigest">
                    <span class="status" ng-if="chatContact.MMStaus == CONF.MSG_SEND_STATUS_SENDING">
                        <i class="web_wechat_send" ng-class="{'web_wechat_send_w': chatContact.UserName == currentUserName}"></i>
                    </span>
                    <span ng-if="chatContact.NoticeCount>1 && chatContact.isMuted()">[{{chatContact.NoticeCount}}条]</span>
                    <span ng-bind-html="chatContact.MMDigest"></span>
                </p> -->
            </div>
        </div>
        <div class="chat_item">
          <div class="avatar">
            <img class="img" src="../images/avatar.png"  alt=""/>
          </div>
          <div class="info">
            <h3 class="nickname">
              <span class="nickname_text">那一夜一十八</span>
            </h3>
          </div>
        </div>
    </div>
</div>
