<ul class="dropdown_menu">
    <li>
        <a tabindex="-1" href="javascript:;" ng-click="createChatroom()" title="发起聊天">
            <i class="menuicon_chat"></i>发起聊天
        </a>
    </li>
    <li>
        <a tabindex="-1" href="javascript:;" ng-if="!isNotifyOpen" ng-click="openNotify()" title="打开桌面通知">
            <i class="menuicon_push_off"></i>打开桌面通知
        </a>
        <a tabindex="-1" href="javascript:;" ng-if="isNotifyOpen" ng-click="closeNotify()" title="关闭桌面通知">
            <i class="menuicon_push_on"></i>关闭桌面通知
        </a>
    </li>
    <li>
        <a tabindex="-1" href="javascript:;" ng-if="!isSoundOpen" ng-click="openSound()" title="打开声音">
            <i class="menuicon_volume_mute"></i>打开声音
        </a>
        <a tabindex="-1" href="javascript:;" ng-if="isSoundOpen" ng-click="closeSound()" title="关闭声音">
            <i class="menuicon_volume_on"></i>关闭声音
        </a>
    </li>
    <li>
        <a tabindex="-1" href="javascript:;" ng-click="feedback()" title="意见反馈">
            <i class="menuicon_feedback"></i>意见反馈
        </a>
    </li>
    <li class="last_child">
        <a tabindex="-1" href="javascript:;" ng-click="loginout()" title="退出">
            <i class="menuicon_quit"></i>退出
        </a>
    </li>
</ul>