<!DOCTYPE html>
<html lang="zh-CN" ng-app="meChat">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>mechat</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="stylesheet" type="text/css" href="bower_components/angular-nice-bar/dist/css/angular-nice-bar.css">
        <link rel="stylesheet" type="text/css" href="css/main.css">
        <!--<script src="http://127.0.0.1:3000/socket.io/socket.io.js"></script> -->
    </head>
    <body ng-controller="appController">
        <div class="main">
            <div class="main_inner">
                <div class="panel">
                    <div class="header">
                        <div class="avatar">
                            <img class="img" src="images/140901061347622.jpg" mm-src="{{}}" ng-click="showProfile($event)" />
                        </div>
                        <div class="info">
                            <h3 class="nickname">
                                <span class="display_name">不觉细雨</span>
                                <a class="opt" href="javascript:;" ng-click="toggleSystemMenu()">
                                    <i class="web_wechat_add"></i>
                                </a>
                            </h3>
                        </div>
                    </div>
                    <div class="search_bar" id="search_bar">
                        <i class="web_wechat_search"></i>
                        <input mm-action-track track-type="['focus']" track-opt="{'target':'顶部搜索'}" class="frm_search" type="text" ng-model="keyword"
                               ng-input="search($event)" ng-keydown="searchKeydowm($event)" ng-blur="focus = false;" placeholder="搜索" />
                    </div>
                    <div class="tab">
                        <div class="tab_item">
                            <a class="chat" ui-sref="chat" ng-dblclick="dblclickChat()" title="聊天"><i class="web_wechat_tab_chat" ng-class="{web_wechat_tab_chat_hl: $state.includes('chat')}"></i></a>
                        </div>
                        <div class="tab_item">
                            <a class="chat" ui-sref="read" title="阅读"><i class="web_wechat_tab_public" ng-class="{web_wechat_tab_public_hl: $state.includes('read')}"></i></a>
                        </div>
                        <div class="tab_item no_extra">
                            <a class="chat" ui-sref="contact" title="通讯录"><i class="web_wechat_tab_friends" ng-class="{web_wechat_tab_friends_hl: $state.includes('contact')}"></i></a>
                        </div>
                    </div>
                    <div ui-view="navView" id="navView"></div>

                    <div class="nav_view" ng-style="{visibility:$state.current.name === 'chat' ? 'visible':'hidden',width:$state.current.name === 'chat' ? 'auto': '0'}" nav-chat-directive ></div>
                    <div class="nav_view" ng-style="{visibility:$state.current.name === 'contact' ? 'visible':'hidden',width:$state.current.name === 'contact' ? 'auto': '0'}" nav-contact-directive ></div>
                    <div class="nav_view" ng-style="{visibility:$state.current.name === 'read' ? 'visible':'hidden',width:$state.current.name === 'read' ? 'auto': '0'}" nav-read-directive ></div>
                </div>

                <div ui-view="contentView" style="height: 100%;"></div>
                <div context-menu-directive></div>
            </div>
            <p class="copyright">
                <span>&copy; 2016 Undrizzle Inc. All Rights Reserved</span>
                <span class="sep"></span>
                <a href="https://login.weixin.qq.com/faq_webwx?lang=zh_CN" target="_blank">帮助</a>
            </p>
        </div>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="bower_components/angular-nice-bar/dist/js/angular-nice-bar.js"></script>
        <script src="js/app.js"></script>
        <script src="js/Directives/navChatDirective.js"></script>
        <script src="js/Directives/mmpopDirective.js"></script>
        <script src="js/Services/stateManageService.js"></script>
        <script src="js/Controllers/chatSenderController.js"></script>
        <script src="js/Controllers/appController.js"></script>
    </body>
</html>
